/* === Override Bulma.css === */

/* add beautiful shadow to navbar */
.navbar {
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border-bottom: 1px solid #d4dadf;
}

/* make burger btn align to left */
.navbar-burger {
    margin-left: inherit;
}

/* remove the border of i18n button */
#navbar-i18n-btn {
    border: none;
}

/* remove unneccsary margin from container */
.main-content.columns,
.doku-document-container .columns {
    margin: 0;
}

/* make hero body padding a little larger */
.hero-body {
    padding: 3.5rem 3rem;
}

/* make divider a little bit darkwe */
hr {
    background-color: #eaebec;
}

.columns.is-fullheight {
    min-height: calc(100vh - (4rem + 2rem - .75rem));
    max-height: calc(100vh - (4rem + 2rem - .75rem));
    height: calc(100vh - (4rem + 2rem - .75rem));
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.columns.is-fullheight .column {
    overflow-y: auto
}

/* === Scrollbar === */
/* Scrollbar */

html *::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: #f9fafb;
}

@media (min-width: 1023px) {
    html *::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }
}

html *::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
}

.suka-devide-dot::after {
    content: " · "
}

/* === Layout === */
.main-content {
    width: 100%;
}

/* === Navbar === */
.doku-navbar-title>* {
    vertical-align: middle;
}

.doku-navbar-title>img {
    margin-right: .8rem;
}

.doku-navbar-title>span {
    font-weight: 500;
    position: relative;
    bottom: .1rem;
}

@media screen and (max-width: 1024px) {
    #doku-navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
    }

    .main-content {
        margin-top: 3.25rem;
    }
}


/* === Sidebar === */
.doku-sidebar {
    background: #f9fafb;
    position: absolute;
    float: left;
    top: 5.25rem;
    right: auto;
    left: 0;
    bottom: 0;
    overflow-x: overlay;
    -webkit-overflow-scrolling: touch;
    z-index: 2;
    width: 15rem;
}

@media screen and (max-width: 1024px) {
    .doku-sidebar {
        position: fixed;
        top: 3rem;
    }
}

.doku-sidebar-content {
    padding: 2.5rem 1.5rem 2.5rem 2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

@media screen and (max-width: 1024px) {
    .doku-sidebar-content {
        padding: 2.5rem 1.5rem;
    }
}

.doku-sidebar.doku-fixed {
    position: fixed;
    top: 3rem;
    bottom: 0;
}

@media screen and (min-width: 1023px) {
    .doku-sidebar.doku-fixed {
        top: 0;
    }
}

.doku-sidebar .menu-label {
    font-size: .8rem;
    font-weight: 500;
}

.doku-sidebar .menu-list a.is-current {
    background-color: #f1f2f3;
}

.doku-sidebar .menu-list a:hover {
    background-color: #e4e5e6;
}

.doku-main-wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    background: #fff;
}

@media screen and (min-width: 1023px) {
    .doku-main-wrapper {
        margin-left: 15rem;
    }
}

/* === Document === */
.doku-document-wrapper {
    padding: 1.25rem 1rem;
    word-wrap: break-word;
}

@media screen and (min-width: 769px) {
    .doku-document-wrapper {
        padding: 1.25rem 1rem 1.25rem 1.25rem;
    }
}

@media screen and (min-width: 1023px) {
    .doku-document-wrapper {
        padding: 2.5rem 2rem 1.25rem 2.75rem;
    }
}

.doku-document-wrapper .content {
    color: #0a0f28;
}

.doku-document-toc {
    position: sticky;
    top: 0;
    bottom: 0;
    padding: 1rem;
    border-left: 1px solid #eee;
    line-height: 1;
    font-size: .9rem
}

.doku-document-toc .post-toc {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0;
}

.doku-document-toc a {
    color: #50596c !important;
}

.doku-document-toc .post-toc-item {
    padding: .5em .75em;
}

.doku-document-toc-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.doku-document-toc .post-toc-link:hover {
    color: #40495c !important;
    font-weight: 500;
}

.doku-document-toc ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.8rem;
}

.doku-document-toc li {
    list-style: none;
}

.doku-document-toc>ol,
.doku-document-toc>p {
    margin-left: 0;
    max-width: 8rem;
    position: relative;
    z-index: 0;
    display: inline-block;
    text-align: left;
}

/* override highlightjs */

.content blockquote.doku-blockquote {
    border: none;
    padding: 0;
}

.content .highlight {
    margin-left: 0;
    margin-right: 0;
    overflow: auto;
}

.content .highlight table td,
.content .highlight table th {
    padding: 0;
}

.content .highlight pre {
    padding: 1rem 1.2rem;
}

.content .highlight .gutter {
    width: 2rem;
}

.content .highlight .gutter pre {
    text-align: right;
    padding: 1rem 0 1rem 1rem;
}

.hljs {
    padding: 0;
    background: transparent;
}

.highlight .number {
    font-size: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
    min-width: 0;
    height: inherit;
    background-color: inherit;
    vertical-align: inherit;
    display: inherit;
}

/* === Pagination === */
.doku-pagination {
    display: flex;
    list-style: none;
    margin: 4rem 0 1rem;
    padding: 2rem .5rem 0;
    border-top: 1px solid rgba(0, 0, 0, .07);
}

.doku-pagination .page-item {
    margin: .2rem .05rem;
}

.doku-pagination .page-item span {
    display: inline-block;
    padding: .2rem .2rem;
}

.doku-pagination .page-item a {
    color: #4a4a4a;
    border-radius: .1rem;
    display: inline-block;
    padding: .2rem .4rem;
    text-decoration: none;
}

.doku-pagination .page-item.page-prev,
.doku-pagination .page-item.page-next {
    flex: 1 0 50%;
}

.doku-pagination .page-item.page-next {
    text-align: right;
}

.doku-pagination .page-item .page-item-title {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
}

.doku-pagination .page-item .page-item-subtitle {
    margin: 0;
    opacity: .5;
    font-size: 0.9rem;
}

/* === Sidebar Mobile === */
body.doku-sidebar-visible::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .8);
}

body.doku-sidebar-visible .doku-sidebar {
    transform: translateX(0px);
}

body.doku-sidebar-visible .soku-sidebar .doku-sidebar-content {
    transform: translateX(0px);
}

body.doku-sidebar-visible .doku-main-wrapper {
    transform: translateX(15rem);
}

@media screen and (min-width: 1023px) {
    body.doku-sidebar-visible .doku-main-wrapper {
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1024px) {

    .doku-sidebar,
    .doku-sidebar-content,
    .doku-main-wrapper {
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    }
}

/* === Footer === */
footer {
    background: #fafafa;
    color: #acb3c2;
    width: 100%;
    text-align: center
}

.doku-footer-container {
    margin: 0 auto;
    padding: 2.5rem 2rem;
    overflow-x: auto;
}

@media screen and (min-width: 1023px) {
    .doku-footer-container {
        max-width: 45rem;
    }
}

@media screen and (min-width: 1216px) {
    .doku-footer-container {
        max-width: 57rem;
    }
}

@media screen and (min-width: 1408px) {
    .doku-footer-container {
        max-width: 69rem;
    }
}

footer a {
    color: #667189
}

.doku-footer-item {
    padding: 0 .5rem;
}